$off-canvas-width: 300px;
$off-canvas-padding-size: 20px;
$off-canvas-transition-time: 300ms;
$off-canvas-transition-style: ease-in-out;
$off-canvas-box-shadow: -10px 0 10px -5px $off-canvas-shadow-color inset;
$off-canvas-box-shadow-floating: 10px 0 10px -5px $off-canvas-shadow-color;
$off-canvas-overlay-opacity: 0.5;
